.row.justify-content-center
  .col-8
    %h1.fs-2.mb-4 予約一覧
    %table.table
      %thead
        %tr
          %th レッスン名
          %th 開始時刻
          %th 終了時刻
          %th 参加人数
          %th 合計金額
      %tbody
        - @bookings.each do |booking|
          %tr
            %td= link_to booking.lesson_name, users_booking_path(booking)
            %td= l(booking.lesson_start_at)
            %td= l(booking.lesson_end_at)
            %td= booking.participant_count
            %td= number_to_currency(booking.total_fee)
