.navbar.bg-danger.bg-gradient
  .container-fluid
    .d-flex.align-items-center
      .navbar-brand= link_to 'SakuraFootball', root_path, class: 'text-decoration-none text-white'
    %ul.navbar-nav.flex-row.gap-3
      %li.nav-item= link_to 'レッスン一覧', root_path, class: 'nav-link text-white'
      - if user_signed_in?
        %li.nav-item= link_to '予約一覧', users_bookings_path, class: 'nav-link text-white'
    %ul.navbar-nav.ms-auto
      - if user_signed_in?
        %li.nav-item.d-flex.align-items-center
          .me-3= link_to current_user.email, edit_user_registration_path, class: 'text-white'
          = button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_confirm: 'ログアウトしますか？' }, class: 'btn btn-outline-light'
      - else
        %li.nav-item= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary'
